
{% load static %}
{% block header%}

<link rel="stylesheet" href="{% static 'chat/css/index.css' %}">
    <nav class="navbar">
        <div class="navbar__container">
          <a href="" id="navbar__logo" 
            ><i class="fa-solid fa-code"></i>SHAMBA BOT</a
          >
          <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
          <ul class="navbar__menu">
            <li class="navbar__item">
             
            </li>
            <li class="navbar__item">
             
            </li>
            <li class="navbar__item">
              
            </li>
            <i class="fa-solid fa-user profileIcon"></i>
          </ul>
        </div>
      </nav>

    {% endblock %}  